<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href=<%= bookmark.url %>><%=bookmark.title%></a></li>
  <% end %>
</ul>

<form action="/add_bookmark" method="post">
  <input type="text" name="url" />
  <input type="text" name="title">
  <input type="submit" value="Add">
</form>
